<div 
  role="radiogroup" 
  [attr.aria-labelledby]="id"
  class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button 
    role="radio"
    [attr.aria-checked]="value === options.YES"
    type="button" 
    class="button button-yes" 
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)">
      Yes
  </button>
  <button 
    role="radio"
    [attr.aria-checked]="value === options.NO"
    type="button" 
    class="button button-no" 
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)">
      No
  </button>
</div>

<!-- 
role="radiogroup" : Identify div as a contatiner for radios  
[attr.aria-checked] = true/false : Indicate state of radio (checked = true / unchecked = false)
aria-labelledby="label" : identify radio group, the id is usually located in the label element that will be announced before the radio options giving the user a context to them

To avoid problems with duplicated ids, [attr.aria-label] can be used instead of aria-labelledby="label" since it allows the nonexistence of an id to identify the label

The lib uuid add dinamically ids into the components so [attr.aria-labelledby]="id" can be used
-->
